<h1 class="title">PELÍCULAS</h1>
<%= link_to 'Ingresar Nueva Película', new_movie_path, class: 'button is-primary is-rounded mb-3' %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sinopsis</th>
      <th>Director</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |pelicula| %>
      <tr>
        <td><%= pelicula.name %></td>
        <td><%= pelicula.synopsis %></td>
        <td><%= pelicula.director %></td>
      </tr>
    <% end %>
  </tbody>
</table>
