<h1 class="title">SERIES</h1>
<%= link_to 'Ingresar Nueva Serie', new_film_path, class: 'button is-primary is-rounded mb-3' %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sinopsis</th>
      <th>Director</th>
    </tr>
  </thead>
  <tbody>
    <% @films.each do |serie| %>
      <tr>
        <td><%= serie.name %></td>
        <td><%= serie.synopsis %></td>
        <td><%= serie.director %></td>
      </tr>
    <% end %>
  </tbody>
</table>
